.navbar .navbar-brand img {
    height: $header-height - $header-extras;
}

.navbar-light .navbar-nav {
    & .active>.nav-link {
        @include text($primary, $font-secondary, $font-size-plus);
        line-height: $font-size-plus;
    }
    & .nav-link:hover {
        color: $primary;
    }
}