body {
  @include text($dark, $font, $font-size);
  overflow-y: scroll;
}

h1, h2, h3, button {
  @include text($primary, $font-secondary, 0);
  margin-top: $distance*2;
  margin-bottom: $distance*2;
}

button.btn {
  font-size: 1.4rem;
}

.modal {
  & h1, & h2, & h3 {
    margin-top: 0;
  }
  & .modal-footer button:not(:last-of-type) {
    margin-right: 2px;
  }
}

main {
  margin-top: $header-height; 
  margin-bottom: $footer-height;
  &>:last-child {
    clear: both;
  }
}


