table {
  border-collapse: collapse;
  border: $distance/5 solid $primary;

  th {
    color: $primary;
    padding: $distance*2;
    border: 1px solid $secondary;}

  td {
    text-align: center;
    padding: $distance;
    border: 1px solid $secondary;}
}

